@model List<ResultBannerDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ana sayfa banner alanı</h4>
                        <p class="card-subtitle mb-4">
                           Anasayfanın Banner alanında bulunan bilgileri aşşağıdan düzenleyebilirsiniz.tema bütünlüğünün bozulmaması adına lütfen sadece 1 adet veri girişi yapınız. Aksi durumlarda Tema Bütünlüğü bozulacaktır
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Başlık</th>
                                        <th>Açıklama</th>
                                        <th>Video Url</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Youtube'de Aç</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        
                                        <tr>
                                            <td>@item.Title</td>
                                            <td>@item.Description</td>
                                            <td>@item.VideoURL</td>
                                            <td>@item.VideoDescription</td>
                               


                                            <td><a href="/Admin/AdminBanner/RemoveBanner/@item.BannerID" class="btn btn-outline-dark">Sil</a></td>
                                            <td><a href="/Admin/AdminBanner/UpdateBanner/@item.BannerID" class="btn btn-outline-primary">Güncelle</a></td>
                                            <td><a href="/Admin/AdminBanner/RemoveBanner/@item.BannerID" class="btn btn-outline-danger">Youtubede Aç</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminBanner/CreateBanner/" class="btn btn-outline-primary">Yeni Banner Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>

